body{
    background-color:red;
}

h1{
    color:white;
}
p{
    background-color: gray;
    color:white
}
#p1{
    background-color: black;
}
#p2{
    background-color:blue;
}
#p3{
    background-color:yellow;
}
#p4{
    background-color:orange;
}

.odd{
    color:aliceblue;
}
.even{
    color:purple;
}